# Environment variables for the waste-exemptions-front-office.
#
# Most environment variables have suitable defaults built-in, but those listed
# here require values to be provided.

# Addressbase config
ADDRESSBASE_URL='https://my-addressbase-instance.com'

# Errbit config
AIRBRAKE_HOST='https://my-errbit-instance.com'
AIRBRAKE_FO_PROJECT_KEY=longvaluefullofnumbersandlettersinlowercase

# Companies House config
COMPANIES_HOUSE_API_KEY=longvaluefullofnumbersandlettersinlowercase

# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=""
EMAIL_PASSWORD=""
EMAIL_TEST_ADDRESS=""
EMAIL_SERVICE_EMAIL=""
