<% content_for :title, "Waste Exemptions - Getting ready for change" %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Waste Exemptions - Getting ready for change</h1>
        <p class="govuk-body">Waste exemptions are changing. The changes affect everyone who operates waste exemption activities. As an exemption holder, you must work out what these changes mean for you and act. If you do not, you risk your waste operations becoming illegal. </p>

        <h2 class="govuk-heading-m">What is a waste exemption?</h2>
        <p class="govuk-body">Waste exemptions allow low-risk waste management operations to be carried on without an environmental permit.</p>
        <p class="govuk-body">Operators need to register their waste exemptions. By registering an exemption, the operator is confirming that they will comply with the limits and conditions of that exemption.</p>
        <p class="govuk-body">Failure to comply with a registered waste exemption means that the waste activity is illegal. The offence is operating a waste activity without a permit.</p>

        <h2 class="govuk-heading-m">Changes to waste exemptions</h2>
        <p class="govuk-body">
            Defra has published its
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/government/consultations/reducing-crime-at-sites-handling-waste-and-introducing-fixed-penalties-for-waste-duty-of-care/outcome/supplementary-government-response">supplementary Government response</a>
            (opens in a new window) and
            <a rel="external noopener" target="_blank" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1134724/waste_exemptions_government_response_annex.pdf">annexes</a>
            (opens in a new window) detailing the changes to the waste exemption regime. This consultation response tells us what the overall changes are, which exemptions will be withdrawn or restricted and the associated notice period.
        </p>
        <p class="govuk-body">
            We expect changes to the Environmental Permitting Regulations (EPR) in <b>Autumn 2024 at the earliest</b>.
            This may change as it depends on Parliament and its legislative programme.
        </p>

        <h2 class="govuk-heading-m">Who is affected?</h2>
        <p class="govuk-body">If you operate waste activities under exemptions you will need to make sure you can continue to operate without the requirement for a permit.</p>
        <p class="govuk-body">With immediate effect on changes to the EPR:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Records must be kept demonstrating compliance with the exemption registered.</li>
            <li>Waste codes and descriptions will be corrected or clarified.</li>
        </ul>
        <p class="govuk-body">
            Within 6 months of changes to the EPR, operating a waste activity under an exemption on or next to (where there is a direct link) a permitted waste operation or installation will not be allowed. You must apply to
            <a rel="external" target="_blank" href="https://www.gov.uk/guidance/change-transfer-or-cancel-your-environmental-permit">vary your environmental permit</a>
            (opens in a new window) to include the exempt activities before the 6 month transition period is reached. (note it is already the case that an exempt waste operation cannot operate at an installation under Regulation 5 of the EPR).
        </p>
        <p class="govuk-body">Within 6 months of changes to the EPR, the amount of waste handled on sites with multiple exemptions registered will be restricted.</p>

        <p class="govuk-body">By the end of the transition period, you will need to have applied for an appropriate permit, restrict or stop your waste activity to comply with the exemption changes, for the following.</p>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Exemptions to be removed</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Exemptions to be removed</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Transition period</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u16-using-depolluted-end-of-life-vehicles-for-parts">U16 – Use of depolluted ELVs for parts</a></th>
                    <td class="govuk-table__cell">3 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t8-mechanically-treating-end-of-life-tyres">T8 – Mechanically treating end-of-life tyres</a></th>
                    <td class="govuk-table__cell">3 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t9-recovering-scrap-metal">T9 – Recovering scrap metal</a></th>
                    <td class="govuk-table__cell">3 months</td>
                </tr>
            </tbody>
        </table>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Exemptions with changes to conditions</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Exemptions with changes to conditions</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Transition period</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/u1-waste-exemption-use-of-waste-in-construction">U1 – Use of waste in construction</a></th>
                    <td class="govuk-table__cell">12 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t4-preparatory-treatments-baling-sorting-shredding-etc">T4 – Preparatory treatments, such as, baling, sorting, shredding</a></th>
                    <td class="govuk-table__cell">6 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t6-treating-waste-wood-and-waste-plant-matter-by-chipping-shredding-cutting-or-pulverising">T6 – Treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising</a></th>
                    <td class="govuk-table__cell">6 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t12-manually-treating-waste">T12 – Manually treating waste</a></th>
                    <td class="govuk-table__cell">6 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/d7-waste-exemption-burning-waste-in-the-open">D7 – Burning waste in the open</a></th>
                    <td class="govuk-table__cell">6 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-exemptions-storing-waste">S1 – Store waste in secure containers</a></th>
                    <td class="govuk-table__cell">12 months</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/s2-waste-exemption-storing-waste-in-a-secure-place">S2 – Storing waste in a secure place</a></th>
                    <td class="govuk-table__cell">12 months</td>
                </tr>
            </tbody>
        </table>

        <p class="govuk-body">
            If you rely on certain
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/government/collections/environmental-permits-low-risk-waste-positions">low risk waste positions</a>
            (opens in a new window) (LRWPs) you will need to check that they have not been changed or withdrawn.  Some LRWPs have been incorporated into the exemption changes.
        </p>

        <h1 class="govuk-heading-l">Questions & answers</h1>

        <h2 class="govuk-heading-m">Q1. When will the changes happen?</h2>
        <p class="govuk-body">
            We expect the new Environmental Permitting Regulations (EPRs) coming into law in <b>Autumn 2024 at the earliest</b>.
            This may change as it depends on Parliament and their legislative programme.
        </p>

        <h2 class="govuk-heading-m">Q2. How long have I got to make any changes to my waste operations?</h2>
        <p class="govuk-body">The transitional periods above are the number of months you have before the changes to the individual exemptions take effect, once the EPR is changed. Within this period, you will need to either make changes to ensure you can comply with the revised exemptions, apply for an appropriate permit, or stop your waste activity.</p>

        <h2 class="govuk-heading-m">Q3. What do I need to do first?</h2>
        <p class="govuk-body">
            Review your exemptions against the
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/register-your-waste-exemptions-environmental-permits">guidance on gov.uk</a>
            (opens in a new window) before they are due for renewal and check if you really need them. We know some exemptions are registered “just in case” or because the exemption holder has not realised they do not need an exemption just to store their own waste.
        </p>
        <p class="govuk-body">
            If you need to check what exemptions you currently hold then you can check this using our
            <a rel="external noopener" target="_blank" href="https://environment.data.gov.uk/public-register/view/search-waste-exemptions">public register</a>
            (opens in a new window).
        </p>

        <h2 class="govuk-heading-m">Q4. I’ve checked and I no longer need my exemption. What should I do?</h2>
        <p class="govuk-body">When you are asked to renew online just deselect any exemptions you no longer need. This will save you receiving lots of updates about exemptions you no longer have or need.</p>

        <h2 class="govuk-heading-m">Q5. I’ve checked and I still need the current exemptions I have registered. What happens next?</h2>
        <p class="govuk-body">If you still need them, you will be able to operate under the existing exemption conditions until the end of the transition period. You can renew and use existing exemptions up to the transition date. On the transition date, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>comply with the new exemption conditions, or</li>
            <li>
                have made an application for an
                <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-environmental-permits">environmental permit</a>, (opens in a new window) or
            </li>
            <li>stop your activities</li>
        </ul>

        <h2 class="govuk-heading-m">Q6. I’ve checked and my operations are no longer covered by the new limits and conditions in the revised exemptions. What do I do now?</h2>
        <p class="govuk-body">You should review all your waste operations and see if they can be changed to meet the new limits and conditions. Sometimes it will be just a case of handling or storing less waste or not accepting a particular waste type anymore.</p>
        <p class="govuk-body">If you cannot do this, you will need to apply for an environmental permit if you wish to continue your waste operation.</p>

        <h2 class="govuk-heading-m">Q7. I’ve checked and my operations are no longer covered by any exemptions and I can’t change them. What do I do now?</h2>
        <p class="govuk-body">If you cannot comply with the new exemptions you will need an environmental permit or you will need to stop operating your waste activities.</p>
        <p class="govuk-body">You will need to make a permit application with all the information required and the correct fee before the transition date. You may need to hire a waste consultant to help you with your application. Once your application has been submitted you can continue your exempt operations until the application has been determined. If your application is refused you have a right to make a formal appeal and if you appeal you may continue your activity until the appeal is heard and a decision made.</p>
        <p class="govuk-body">
            You may be able to apply for a
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/government/collections/standard-rules-environmental-permitting">standard rules permit</a>
            (opens in a new window) as an easier alternative to applying for a
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/government/collections/environmental-permit-application-forms-for-a-new-bespoke-permit">bespoke permit</a>
            (opens in a new window).
        </p>

        <h2 class="govuk-heading-m">Q8. How much is this going to cost me?</h2>
        <p class="govuk-body">
            A permit or variation to an existing permit may cost several thousand pounds. Costs are set out in our
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/government/publications/environmental-permitting-charges-guidance">charging scheme</a>
            (opens in a new window). Further advice on the exact costs can be provided by using our
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/get-advice-before-you-apply-for-an-environmental-permit">pre-application advice service </a>
            (opens in a new window).
        </p>

        <h2 class="govuk-heading-m">Q9. I want to register one or more of the exemptions that are changing</h2>
        <p class="govuk-body">You can register for the exemption(s) you currently need. However, they will change or be removed from law on the transitional date. If you have registered an exemption before the transition date, it will automatically change on the transition date.  On or before the transition date, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>comply with the new exemption conditions, or</li>
            <li>
                have made an application for an
                <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-environmental-permits">environmental permit</a>
                (opens in a new window) or
            </li>
            <li>stop your activities</li>
        </ul>

        <h2 class="govuk-heading-m">Q10. I am a farmer with waste exemptions registered at my farm. What do I do?</h2>
        <p class="govuk-body">Farmers often register multiple exemptions 'just in case'.  You should only register for a waste activity you will be carrying out. </p>
        <p class="govuk-body"><b>You do not need to register exemptions for storing your own waste on your farm where it was produced.</b></p>
        <p class="govuk-body">
            This type of waste activity is normally allowed by
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/government/collections/waste-exemptions-storing-waste#exemptions-you-do-not-need-to-register">Non Waste Framework Directive exemptions</a>
             (opens in a new window) which do not need to be registered.
        </p>
        <p class="govuk-body">
            You should pay particular attention to the changes to the
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/u1-waste-exemption-use-of-waste-in-construction">U1 use of waste in construction</a>
            (opens in a new window) and
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/d7-waste-exemption-burning-waste-in-the-open">D7 burning waste in the open</a>
            (opens in a new window) waste exemptions. You are likely to use these, for example, for farm track construction and maintenance and for burning vegetation from land maintenance. We anticipate that these changes should not greatly affect what you already do, but will make it clearer what is allowed and have changes to the conditions to control the risks.
        </p>

        <h2 class="govuk-heading-m">Q11. I have registered multiple exemptions.  What do I do now?</h2>
        <p class="govuk-body">It is already illegal to register certain combinations of exemptions to increase waste storage limits on a site. For example, a storage exemption in combination with a treatment or use exemption. You need to check your combinations and if you need all the exemptions registered.</p>
        <p class="govuk-body">If you do need multiple exemptions, you can only operate to the lowest quantity limit for each waste type set out in the exemptions you have registered.</p>
        <p class="govuk-body">For example, registering an exemption allowing 50 cubic metres of wood to be stored, together with another exemption allowing 60 cubic metres of wood to be stored would result in an overall storage limit of 50 cubic metres, the lowest limit of the two exemptions.</p>

        <h2 class="govuk-heading-m">Q12. I have an environmental permit for a waste operation and I have registered exemptions at or next to my permitted area. What do I do?</h2>
        <p class="govuk-body">Registered exemptions on a permitted site will be prohibited at the end of a 6-month transitional period.</p>
        <p class="govuk-body">
            If you wish to carry on your exempt activity you will need to apply to
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/change-transfer-or-cancel-your-environmental-permit">vary your environmental permit</a>
            (opens in a new window).
        </p>
        <p class="govuk-body">“Direct link” means where an exempted waste activity:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>is carried on or next to a permitted waste operation or installation, and</li>
            <li>is carried out under the control of the same operator, or</li>
            <li>uses the same staff, equipment or infrastructure without which the exempt activity could not take place  </li>
        </ul>
        <p class="govuk-body">For example:</p>
        <p class="govuk-body">
            A waste operator would not be able to extend their permitted waste wood treatment operations beyond their permitted boundary by registering a
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t6-treating-waste-wood-and-waste-plant-matter-by-chipping-shredding-cutting-or-pulverising">T6 (treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising)</a>
            (opens in a new window) exemption on an adjacent piece of land, as this would increase the overall fire risk and risk of pollution such as dust. There is a direct link between the permitted operations and the T6 exemption as the exempt waste activity would be carried on next to the permitted waste operation, under the control of the same operator using the same staff, equipment or infrastructure.
        </p>
        <p class="govuk-body">A farmer would be able to hold a permit for an anaerobic digestion facility on one part of their farm, together with a U1 (use of waste in construction) waste exemption to use waste to construct a farm track on another part of their farm. There is no direct link between the permitted operations and the U1 exemption as the farm track is not next to the permitted waste operation and the anaerobic digestion facility does not use the same equipment or infrastructure as the U1 waste exemption.</p>
        <p class="govuk-body">If you wish to carry on your exempt activity at or next to your permitted site (where there is a direct link) you will need to apply to vary your environmental permit.</p>

        <h2 class="govuk-heading-m">Q13. I have an environmental permit for waste management and an adjacent business has registered exemptions. What do I do now?</h2>
        <p class="govuk-body">If there is no “direct link” between your permitted activity and the registered exemptions then you do not need to take any action.</p>
        <p class="govuk-body">If the exempt waste activity takes place on your permitted site, you are responsible for that activity irrespective of it being carried out by a contractor or other business. That exemption registration has no status and that waste activity must be incorporated into your permit.</p>
        <p class="govuk-body">
            You may need to consider
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/change-transfer-or-cancel-your-environmental-permit">surrendering</a>
            (opens in a new window) part of your permit if an area of your permitted site is, for example, leased to another operator using a waste exemption.
        </p>

        <h2 class="govuk-heading-m">Q14. I have an environmental permit for an installation and have registered waste exemptions on my permitted site. What do I do now?</h2>
        <p class="govuk-body">It is already the case that an exempt waste operation cannot operate at an installation under Regulation 5 of the EPR. You will need to discuss with your site officer whether the exempt operation is a directly associated activity and a variation is needed, whether the installation boundary has been correctly identified, or whether to stop that exempt activity.</p>

        <h2 class="govuk-heading-m">Q15. What are the relevant objectives?</h2>
        <p class="govuk-body">All waste exemptions in Schedule 3 of the Environmental Permitting Regulations (EPR) must comply with the relevant objectives and the conditions set out in the individual exemptions.</p>
        <p class="govuk-body">Relevant objectives require that waste is recovered or disposed of without endangering human health and without using processes or methods which could harm the environment.</p>
        <p class="govuk-body">In particular without:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>causing risk to water, air, soil, plants or animals</li>
            <li>causing nuisance through noise or odours</li>
            <li>adversely affecting the countryside or places of special interest</li>
        </ul>

        <h2 class="govuk-heading-m">Q16. What else do I need to do now?</h2>
        <p class="govuk-body">You need to start planning for the changes now to ensure you comply before they come into force.</p>
        <p class="govuk-body">
            If you need to apply for a permit, we strongly advise you get
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/get-advice-before-you-apply-for-an-environmental-permit">pre-application advice</a>
            (opens in a new window) from us, so you understand the type of permit you need, what guidance to use, what you need to submit and the application fee.
        </p>
        <p class="govuk-body">We will contact you directly by email when the changes to the Environmental Permitting Regulations take place. We will use the email address you used to register your exemptions.</p>
        <p class="govuk-body">We will keep key stakeholders such as the National Farmers Union and waste sector trade associations updated on progress with the exemption changes.</p>
        <p class="govuk-body">
            Check
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/register-your-waste-exemptions-environmental-permits">www.gov.uk</a>
            (opens in a new window) regularly for new guidance and further information.
        </p>
        <p class="govuk-body">
            You can
            <a rel="external noopener" target="_blank" href="https://www.gov.uk/guidance/register-your-waste-exemptions-environmental-permits#choose">register or renew waste exemptions</a>
            (opens in a new window) on gov.uk.
        </p>
        <p class="govuk-body">
            If you have a question and you cannot find the answer above, then please contact our National Customer Contact Centre at
            <a href="mailto:enquiries@environment-agency.gov.uk ">enquiries@environment-agency.gov.uk</a>
            or by telephone on 03708 506 506.
        </p>
    </div>
</div>
