<% content_for :title, "Privacy policy" %>

<div class="text">
  <h1 class="heading-large">Privacy policy</h1>
  <p>The waste exemptions service is run by the Environment Agency. Information you provide is handled in accordance with its <a rel="external" href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter.</a></p>
  <p>The personal information you provide will be used to update the public register for exempt waste operations.</p>
  <p>This will include:</p>
  <ul class="list list-bullet">
    <li>the name and address of your business or organisation</li>
    <li>the type of exempt waste operations being carried out</li>
    <li>the locations of these operations</li>
  </ul>
  <p>We may also use the personal information you give us to:</p>
  <ul class="list list-bullet">
    <li>contact you about our customer service</li>
    <li>send you environmental information, or consult you on environmental issues</li>
    <li>carry out research on environmental issues</li>
    <li>prevent someone from breaking environmental laws, or investigate and take action when someone may have broken environmental laws</li>
    <li>respond to freedom of information requests (if data protection law allows it)</li>
  </ul>
  <p>We may pass on your personal information to our agents or representatives so that they can do any of these things on our behalf. And we may share your personal information with other organisations if the law says we have to do so.</p>
</div>
