<% unless cookies[:cookies_preferences_set] %>
  <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="<%= t('cookies-banner.default.heading') %>">
    <%= render partial: "cookies/action_required" %>
  </div>
<% end %>
